<div class="row">
  <div class="col-md-3 col-12 d-none d-md-block">
    <div class="card p-2">
      <%= image_tag current_user.avatar.url, class: "card-img-top rounded-circle" %>
      <div class="card-body">
        <h4 class="card-title"><%= "@#{@user.name}" %></h4>
        <p class="card-text">
          <span class="text-secondary"><%= "#{@user.created_month}に登録" %></span><br/>
          <span class="text-secondary"><%= @user.posts_count %> posts</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-12">
    <%= form_with model: Post.new do |f| %>
      <div class="input-group pb-4 mx-0">
        <%= f.text_field :body, class: "form-control", placeholder: "今なにしている？" %>

        <span class="input-group-btn">
          <%= f.submit "投稿", class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
    <%= render partial: "post", collection: @posts %>
    <%= paginate @posts %>
  </div>
</div>
